---
import { SEO } from "astro-seo";
interface Props {
	title: string;
}

const { title } = Astro.props;
const description = "Discover Robotics and Artificial Intelligence at our IE University Club. Explore the latest projects, workshops, and events in this exciting field."
const webTitle = "IE Robotics and AI Club - Official Website"
const url = "https://www.ieroboticsclub.com/"
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
      title={webTitle}
      description={description}
	    charset="UTF-8"

      openGraph={{
        basic: {
          title: webTitle,
          type: "website",
          image:  url + "cover.png",
		      url: "https://www.ieroboticsclub.com/"
        },
        optional: { description: description }
      }
      }
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: url + "favicon.png" }],
        // extending the default meta tags
        meta: [
        //normal stuff
        {name: "author", content: "IE Robotics and AI Club"},
        {name: "viewport", content:"width=device-width"},
        {name: "keywords", content: "AI, Robotics, IE University, Artificial Intelligence, Coding, Programming, AI Club, Robotics Society, University AI Projects, Robotics Research, Student AI Innovations, Machine Learning Enthusiasts, Robotics Workshops, AI Research Group, Innovation in Robotics, Artificial Intelligence Community, Student Robotics Competitions, AI and Robotics Collaboration, Future Tech Leaders, Robotics Engineering Club, AI Algorithms, Robotics Programming, Emerging Technologies, University Tech Enthusiasts, AI and Robotics Events, STEM Education, AI and Robotics Challenges, Tech Innovators, Autonomous Systems, Cutting-Edge Tech, Robotic Automation, Coding Enthusiasts, Programming Club, Code Development, Programming Workshops, Coding Challenges, Software Development, Coding Competitions, Programming Innovations, Coding Bootcamp, Tech Enthusiasts, Coding and Robotics, Tech Events, Code Learning, Computer Science Club."}
		,
		{
            name: "twitter:image",
            content: url + "cover.png",
          },
          { name: "twitter:title", content: "IE Robotics and AI Club" },
          { name: "twitter:description", content: "Discover Robotics and Artificial Intelligence at our IE University Club. Explore the latest projects, workshops, and events in this exciting field." },
        ],
      }}
    />
    <!-- Meta stuff for open graph -->
    <!-- <meta name="og:description" content={description} /> -->


		<meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.0/iosevka/iosevka.min.css" integrity="sha512-3hU20586NsplKRzjf2jQN5vTRTI2EsXObrHDOBLGdkiRkneg699BlmBXWGHHFHADCF3TOk2BREsVy7qTkmvQqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>{title}</title>
	</head>

  <script>
    var _paq = window._paq = window._paq || [];
	const chars = `abcdefghijklmnopqrstuvwxzABCDEFGHIJKLMNOPQRSTUVWZ1234567890!@#$%^&*()_+-=`;
	function randomChar(){
		return chars[Math.floor(Math.random() * (chars.length - 1))];
	}
  </script>
  <!-- Matomo Tag Manager -->
  <script>
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    (function() {
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src='https://cdn.matomo.cloud/danielalvesworld.matomo.cloud/container_C1J2mKYr.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Tag Manager -->  <!-- Maybe import footer in layout instead -->
	<body class="dark:bg-slate-900">
		<slot />
	</body>
</html>
<style>
	html, body {
	max-width: 100%;
	overflow-x: hidden;
  font-family: 'Iosevka', monospace;
}
</style>
