---
import SplitFlapString from '../components/SplitFlapString.astro';
// this is a split-flap animation for a calendar
import ical from 'node-ical';
let URL = import.meta.env.ICAL || "https://ieconnects.ie.edu/ical/ical_club_300003041.ics"
const webEvents = await ical.async.fromURL(URL);
let events = Object.values(webEvents).map((event) => {
    return {
        title: event.summary?.val,
        // date in dd mm yyyy format
        start: new Date(event.start),
        url: event.url,
        description: event.description
    };
})
events = events.sort((a, b) => {
    return a.start - b.start;
}).filter((event) => {
    return event.start > new Date()
});
// filter null properties
events = events.filter((event) => {
    return event.title && event.start && event.url;
});
// format the date to be dd mm yyyy
events = events.map((event) => {
    let date = event.start;
    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();
    return {
        ...event,
        start: `${day}/${month}/${year}`
    }
})
---
<table>
<thead class=" dark:text-gray-100">
    <tr class="dark:bg-transparent">
        <th>Event Name</th>
        <th>Date</th>
    </tr>
</thead>
<tbody>
{events.map((event) => (
        <tr class="dark:bg-gray-700 even:dark:bg-transparent">
    <td class="text-lg">
        <a href={event.url}>
        <SplitFlapString text={event.title}/>
        </a>
    </td>
        <td class="text-lg"><SplitFlapString text={event.start}/></td>
</tr>
))}
</tbody>
    </table>
    <script>

let elements = document.querySelectorAll(".dynamicString")


let flapGrid = [] // elements X characters X flaps
elements.forEach((element) => {
    let characters = element.querySelectorAll(".char");
    let characterGrid = [];
    characters.forEach((character) => {
        let flaps = character.querySelectorAll(".flap");
        characterGrid.push(flaps);
    });
    flapGrid.push(characterGrid);
});


const animateFlap = (flapElement) => {
    // Set the initial state
    flapElement.style.display = "block";
    flapElement.style.transform = 'rotateX(0deg)';
    flapElement.style.transition = 'transform 0.6s ease-out';

    // Trigger the animation
    setTimeout(() => {
        flapElement.style.transform = 'rotateX(360deg)';
    }, 0);
}


async function characterFlip (listOfFlaps) {

    let flaps = listOfFlaps;
    for (let j = 0; j < flaps.length; j++) {
        const flap = flaps[j];

        animateFlap(flap);
        await new Promise(resolve => setTimeout(resolve,(Math.random() * 150) + 50));
        flap.style.display = "none";
        flap.style.animationDelay = `${j * 0.1}s`;
    }

    // Show8the correct flap after a delay
    setTimeout(() => {
        flaps[flaps.length - 1].style.display = "block";
        if (flaps[flaps.length - 1].textContent === " ") {
            flaps[flaps.length - 1].textContent = "\u00A0";
            // TODO maybe mode to split flap component
        }
    }, 100);
}



let decoded = false;

const delayFunction = (j) => {
    return (1 / (2.7 ** (0.2*j))) + 2
}

const decodeFlaps = () => {
    for (let i = 0; i < flapGrid.length; i++) {
        for (let j = 0; j < flapGrid[i].length; j++) {
            setTimeout(() => {
                const flaps = flapGrid[i][j];

                characterFlip(flaps);
                // slowly speed up
            },  0.3 * delayFunction(i+j) * 1000);
        }
    }
    decoded = true;
}

// when user scrolls to the element, start the animation
document.addEventListener("scroll", () => {
    let element = document.querySelector("table");
    let rect = element.getBoundingClientRect();
    if (rect.top < window.innerHeight && rect.bottom > 0 && !decoded) {
        decodeFlaps();
    }
});


</script>
<style>
table {
    width: 1200px;
    border-collapse: collapse;
/* center of the page */
    margin-left: auto;
    margin-right: auto;
/* constant font width */
    font-family: monospace;
    font-size: 1.5rem;

}

th, td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
@media (max-width: 768px) {
    table {
          width: 80vw;
    }
    th, td {
        padding: 4px 8px;
    }
}

</style>
