---
import socials from '../scripts/socials.json'


    const resources = [
        {email: "presi"},
        {email: "vice-presi"},
        {email: "idk"}
    ]

---

<footer class="flex justify-center text-center my-5">
  <ul class="list">
    {
      socials.map((current) => {
        return (
          <li class="inline-block mx-4 p-5">
            <a href={current.link} class="flex justify-center">
              <svg xmlns={current.xmlns} x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24">
                <path d={current.d} class="dark:fill-slate-300"/>
              </svg>
            </a>
            <p class="pt-[20px]">{current.name}</p>
          </li>
        )
      })
    }
  </ul>
</footer>
<!-- 
<footer class="grid grid-cols-1 h-48">

  <div>
    <h2 class="text-3xl flex justify-center dark:text-slate-200 pb-10">Contact Us At</h2>
    <div class="flex items-center justify-center">
          {
              socials.map((current) => {
                  return (
                      <div class="flex flex-col items-center px-10 w-fit">
                          <a href={current.link} class="block">
                              <svg xmlns={current.xmlns} x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24">
                              <path d={current.d} class="dark:fill-slate-300"></path>
                              </svg>
                          </a>
                          <h3 class="text-sm pt-2">{current.name}</h3>
                      </div>
                  )
              })
          }

    </div>
  </div>
</footer> -->
